* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #081A2A;
  --primary-2-color: #092034;
  --secondary-3-color: #185286;
  --secondary-color: #E63946;
  --secondary-2-color: #DA1B2B;
}

.hidden {
  display: none;
  z-index: -2;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--primary-color);
  box-sizing: border-box;
}

.alco {
  position: absolute;
  bottom: -65%;
  left: calc(50% + 50px);
  transform: translate(-50%, 0);
}

.hidden-op {
  opacity: 0;
  width: 0;
  padding: 0;
  margin: 0 !important;
}

.hint {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary-2-color);
  border-radius: 50px;
  transition: opacity 1s;
  cursor: pointer;
  padding: 10px 0;
}

.hint:hover > .hint-text {
  opacity: 1;
  height: auto;
  width: auto;
  margin-left: 5px;
  margin-right: 10px;
}

.hint:not(:hover) > .hint-text {
  transition: all 0s linear;
}

.hint:hover {
  width: auto;
  height: auto;
  text-align: center;
}

.hint:hover > .icon {
  opacity: 0;
  height: 0;
  width: 0;
  transform: scale(0);
}

.hint-text {
  transition: all 0.5s linear;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  color: #FFFFFF;
  cursor: pointer;
}

.hint > .icon {
  transition: all .25s linear;
  transform: scale(1);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  width: 12px;
  height: 12px;
  background-color: var(--primary-2-color);
}

.icon {
  fill: white;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: var(--primary-color);
  margin-right: 10px;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#download {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#download:hover {
  background-color: var(--secondary-2-color);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: var(--primary-color);
}

.loader__logo {
  width: 150px;
  transform: scale(.85);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(.85);
  }
}

.logo {
  height: 40px;
}

body {
  width: 100vw;
  min-height: 100%;
  background-color: var(--primary-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.person__image {
  border-radius: 100%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, 0);
  border: 10px solid var(--primary-2-color);
}

.person-header {}

.person-header__title {
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
}

.person-header__subtitle {
  color: #ECECEC;
  font-weight: 400;
}

.person {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.person__image-card {
  background-color: var(--primary-2-color);
  width: 100%;
  min-height: 150px;
  position: relative;
  margin-bottom: 150px;
}

.person__image {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, 0);
  border-color: var(--primary-2-color);
  border-width: 10px;
}

.person-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
